* {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body {
  padding: 10px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-grid .loading {
  color: steelblue;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  background-color: rgba(32,35,42,0.9);
  width: 275px;
  height: 275px;
  display: flex;
  flex-direction: column;
}

.card p {
  text-align: center;
  color: white;
}

.card img {
  height: 175px;
  width: 175px;
  margin: auto;
}
input {
  border: 1px solid #323542;
  color: grey;
}

label {
  font-size: 0.8rem;
}